@import "compass/css3";
@import "compass/reset";
*{
	@include box-sizing(border-box);
}
#myHeader {
	position: sticky;
	top: 0;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ddd;
  }
  
  #myHeader nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
  }
  
  #myHeader nav ul li {
	margin-right: 20px;
  }
  
  #myHeader nav a {
	text-decoration: none;
	color: #337ab7;
  }
  
  #myHeader nav a:hover {
	color: #23527c;
  }
body{
	background-color: #ecf0f1;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	padding-top: 330px;
	@include transition(padding-top .5s ease);
}
.wrapper{
	width: 800px;
	margin: 0 auto;
}
section{
	padding: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	@include border-radius(4px);
	@include box-shadow(0 1px 0 rgba(0,0,0,.2));
}
p{
	margin-bottom: 2rem;
	line-height: 2;
	color: #7f8c8d;
}

body.sticky-header{
	padding-top: 100px;
	header{
		height: 60px;
		background-color: A682FF;
		h1{
			@include scale(0);
		}
	}
}